body {
  font-family: sans-serif;
  font-size: 1.5rem;
  background-color: rgb(255, 221, 227);
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button{
  padding: 10px 30px;
  margin: 10px auto;
  display: block;
  text-align: center;
  background-color: palevioletred;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
